<%- include('partials/navbar') %>

<div class="container mt-4 mb-4">
  <h1 class="mb-4">Rozhodčí páry</h1>

  <table id="pairsTable" class="display" style="width:100%">
    <thead>
      <tr>
        <th>Název páru</th>
        <th>Rozhodčí 1</th>
        <th>Rozhodčí 2</th>
      </tr>
    </thead>
    <tbody>
      <% pairs.forEach(c => { %>
        <tr>
          <td>
            <a href="/pairs/<%= c.pair_id %>"><%= c.pair_name %></a>
          </td>
          <td>
            <a href="/referees/<%= c.ref1_id %>"><%= c.ref1_name %></a>
          </td>
          <td>
            <a href="/referees/<%= c.ref2_id %>"><%= c.ref2_name %></a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<!-- DataTables CSS + JS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<script>
$(document).ready(function() {
  $('#pairsTable').DataTable({
    paging: true,
    searching: true,
    pageLength: 25,
    lengthMenu: [10, 25, 50, 100],
    order: [[0, 'asc']], // řazení abecedně podle názvu páru
    language: {
      search: "Hledat:",
      lengthMenu: "Zobrazit _MENU_ záznamů",
      info: "Zobrazuji _START_ až _END_ z _TOTAL_ záznamů",
      infoEmpty: "Žádné záznamy k dispozici",
      infoFiltered: "(filtrováno z _MAX_ celkových záznamů)",
      zeroRecords: "Nenalezeny žádné odpovídající záznamy",
      emptyTable: "Žádná data v tabulce",
      paginate: {
        first: "První",
        last: "Poslední",
        next: "Další",
        previous: "Předchozí"
      },
      aria: {
        sortAscending: ": aktivujte pro řazení sloupce vzestupně",
        sortDescending: ": aktivujte pro řazení sloupce sestupně"
      }
    }
  });
});
</script>
